body {
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    
}

.container {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 768px) {
        width: 100%;
        padding: 2ch;
    }
}

h1 {
    font-weight: 700;
    width: 100%;
    text-align: center;
}

h2 {
    width: 100%;
    font-size: 100%;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;

}

p {
    width: 100%;
    line-height: 3ch;
}

.round-wrapper {
   width: 30%;
    border-radius: 100%; 
    overflow: hidden; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

#profile-pic {
    width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5%;
    flex-wrap: wrap;
}

li {
    list-style-type: none;
}